.hero
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(2, 5, 11, 0.5),rgba(2, 5, 11, 0.5)) ,url('../../assets/Images/slider-2.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text 
{
    text-align: center;
    max-width: 1600px;
}

.hero-text h1
{
    font-size: 30px;
    line-height: 60px;
    font-weight: 650;
    
}
/* .hero-text p
{
    max-width: 700px;
    margin: 10px auto 20px;
    font-size: 18px;
    line-height: 1.4;
} */
.btn-contact
{
    background-color: #38b6ff;
    color:#fff;
    padding: 14px 25px;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 7px 25px rgb(123,104,238,0.25);
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.btn-contact:hover
{
    color: #38b6ff;
background-color: #fff;
}

@media(max-width:1440px)
{
    .hero-text h1
    {
        margin-top:100px;
        font-size: 22px;
        line-height:2;
    }
}
@media(max-width:1200px)
{
    .hero-text h1
    {
        margin-top:100px;
        font-size: 17px;
        line-height:2;
    }
    .hero-text button{
        font-size:13px;
        padding: 10px 15px;
    }

}

@media(max-width:992px)
{
    .hero-text h1
    {
        margin-top:100px;
        font-size: 16px;
        line-height:2;
    }
    .hero-text button{
        font-size:13px;
        padding: 12px 10px;
    }

}