.about {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-left {
  width: 30%;
}

h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
}

.about-right {
  width: 40%;
}

.about-img {
  width: 100% !important;
  border-radius: 10px;
}

.about h2 {
  font-weight: 700;
  color: #38b6ff;
  font-size: 25px;
  margin-bottom: 15px;
}

.about h4 {
  font-weight: 600;
  color: #000;
  font-size: 14px;
  margin-bottom: 15px;
}

.about p {
  margin-bottom: 15px;
  font-size: 16px;
}

.btns {
  margin-left: 1px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btns:hover {
  color: #38b6ff;
  background-color: #fff;
}

.btns:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media Queries for Responsive Design */
@media (max-width: 16500px) {
    .about {
      width: auto;
    }
    .btns {
      margin-bottom: 20px;
    }
    .about-right {
      flex-basis: 50%;
    }
    .about-left {
      flex-basis: 40%;
      margin-right: 10px;
    }
  }
@media (max-width: 1440px) {
  .about {
    width: auto;
  }
  .btns {
    margin-bottom: 20px;
  }
  .about-right {
    flex-basis: 50%;
  }
  .about-left {
    flex-basis: 40%;
    margin-right: 10px;
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 26px;
  }
}

@media (max-width: 1024px) {
  .about {
    display: grid;
    justify-content: center;
    gap: 20px;
  }
  .about-right {
    width: 100%;
  }
  .about-right p {
    font-size: 14px;
  }
  .about-left {
    width: 60%;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 22px;
  }
  .about {
    display: grid;
    gap: 20px;
  }
  .about-right {
    width: 100%;
  }
  .about-right p {
    font-size: 14px;
  }
  .about-left {
    width: 100%;
    align-items: center;
  }
}