.contactUs {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactUs .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.contactUs h2 {
  font-size: 1.7rem;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contact {
  padding: 30px;
  background-color: #fafafa;
}

.box {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
    "form info"
    "form map";
  grid-gap: 20px;
}

/* Form */
.formBox {
  position: relative;
  width: 100%;
}

.formBox .row50 {
  display: flex;
  gap: 20px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.inputBox .input {
  cursor: pointer;
}

.formBox .row100 .inputBox {
  width: 100%;
}

.inputBox span {
  color: #000;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input {
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid #333;
}

.inputBox textarea {
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 110px;
  margin-bottom: 10px;
}

.inputBox input[type="submit"] {
  background: #38b6ff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  max-width: 120px;
  border-radius: 5px;
  color: #fff;
  padding: 10px 11px;
}

.inputBox::placeholder {
  color: #999;
}

.info h3 {
  color: #000;
}

/* Contact-Info */
.infoBox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.infoBox span {
  min-width: 30px;
  height: 30px;
  color: #fff;
  background-color: #38b6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
}

.sci {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sci li {
  min-width: 30px;
  height: 30px;
  list-style: none;
  text-align: center;
  margin-right: 15px;
  background-color: #38b6ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/* Responsive */
@media (max-width: 991px) {
  .contact {
    background-color: #ddd;
  }
  .contactUs {
    padding: 20px;
  }
  .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "form"
      "info"
      "map";
  }
  .map {
    min-height: 200px;
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox {
    width: 100%;
  }
  .inputBox textarea {
    height: 10% !important;
  }
  .contact {
    padding: 30px;
  }
  .map {
    min-height: 200px;
    padding: 0;
  }
}

/* Error Styles */
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
/* In your Contact.css file */
.submit-message {
  background-color: #38b6ff;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
}

.submit-message.success {
  background-color: #38b6ff; /* Green color for success message */
}

.submit-message.error {
  background-color: #FF0000; /* Red color for error message */
}
