nav
{
    width: 100%;
    padding: 4px 0;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    color: #fff;
}
.hello img
{
    width: 110px;
    margin-top: 20;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.btn
{
    background-color: #38b6ff;
    color:#fff;
    padding: 14px 25px;
    margin-left: 35px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0 7px 25px rgb(123,104,238,0.25);
    cursor: pointer;
    border: 0;
    outline: 0;
    align-items: center;
    justify-content: center;
}
.btn:hover
{
color: #38b6ff;
background-color: #fff;
}
.dark-nav
{
    background: #fbfafb;
    color: #000;
}
.hello img {
    width: 110px;
    margin-top: 20px;
    transition: color 0.3s ease; /* Add transition for smooth color change */
    color: #fff; /* Set default color */
}

.container.dark-nav img {
    color: #000; 
}
@media(max-width:1440px)
{
    nav,.navlink{
        font-size: 18px;
        margin-left:1px ;
    }
    nav,.btn{
        font-size:16px;
    }
    .hello img{
        width:85px;
    }
}
@media(max-width:1200px)
{
    nav,.navlink{
        font-size: 16px;
        margin-left:1px ;
    }
    nav,.btn{
        font-size:15px;
        padding: 10px 15px;
    }
    .hello img{
        width:85px;
    }
}
@media(max-width:992px)
{
    nav,.navlink{
        font-size: 15px;
        margin-left:1px ;
    }
    nav,.btn{
        font-size:13px;
        padding: 12px 10px;
    }
    .hello img{
        width:80px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 1px 10px;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }
}
@media(max-width:852px)
{
    nav,.navlink{
        font-size: 14px;
        margin-left:0px ;
    }
    nav,.btn{
        font-size:13px;
        padding: 12px 10px;
    }
    .hello img{
        width:80px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 1px 5px;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }
}
@media(max-width:821px)
{
    nav,.navlink{
        font-size: 14px;
        margin-left:0px ;
    }
    nav,.btn{
        font-size:13px;
        padding: 12px 10px;
    }
    .hello img{
        width:70px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 1px 5px;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }
}
.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
   
  }
  .nav-links.show {
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  
  @media screen and (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      position: absolute;
      top: 80px; 
      left: 10%;
      background-color: #fff;
      color: #000;
      width: 80%;
      padding: 20px;
      z-index:5 ;
      opacity: 0;
      transform: translateY(-100%);
      transition: opacity 1s ease, transform 1s ease; /* Add transition */
    }
  
    .nav-links.show {
      opacity: 1;
      transform: translateY(0);
    }
  
    .nav-links li {
      margin-bottom: 12px;
      padding-bottom:10px ;
      border-bottom: 1px solid #fbfafb;
    }
  }
  