
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery h2 {
    margin: 20px;
}

/* Category buttons */
.category-button {
    background-color: #38b6ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 14px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-weight: 550;
}

.category-button:hover {
    background-color: #fff;
    color: #38b6ff;
}

/* Selected category */
.selected-category {
    background-color: #ccc;
}

/* Images container */
.images-container {
    margin-top: 20px;
}

.images-container h3 {
    font-size: 25px;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Individual image */
.image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
}
@media(max-width:1024px)
{
    .image {
        width: 300px;
        height: 220px;
        object-fit: cover;
        margin: 10px;
        border-radius: 10px;
    }
    .category-button {
        background-color: #38b6ff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        font-size: 13px;
        color: #fff;
        font-weight: 550;
    }
    .images-container h3 {
        font-size: 19px;
        text-align: center;
    }
}

@media(max-width:768px)
{
    .image {
        width: 300px;
        height: 200px;
        object-fit: cover;
        margin: 10px;
        border-radius: 10px;
    }
    .category-button {
        background-color: #38b6ff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px;
        cursor: pointer;
        font-size: 11px;
        color: #fff;
        font-weight: 550;
    }
    .images-container h3 {
        font-size: 18px;
        text-align: center;
    }
}
@media(max-width:425px)
{
    .image {
        width: 220px;
        height: 120px;
        object-fit: cover;
        margin: 10px;
        border-radius: 10px;
    }
    .category-button {
        background-color: #38b6ff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        font-size: 10px;
        color: #fff;
        font-weight: 550;
    }
    .images-container h3 {
        font-size: 18px;
        text-align: center;
    }
}
