.bg-footer
{
    background-color:#38b6ff ;
    position:relative ;
    bottom: 0;
   
}
.footer
{
    padding-top:20px ;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    
}
.footer-img img
{
    width: 100px;
}

.footer-logo
{
    margin-top: 10px;
   display: flex;
   cursor: pointer;
}
/* .footer-contact 
{
  width: 30%;
   
} */
.footer-contact h4
{
    font-size: 20px;
}
.footer-contact p
{
    padding: 4px;
    font-size: 15px;
}

.footer-content h4
{
    font-size: 20px;
}
.footer-content p
{
  font-size: 14px;
  line-height: 25px;
}
.styled-form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    max-width: 500px; 
    margin: 0 auto;
   
}
.form-header
{
    text-align: center;
}
.form-header h5
{
    font-size: 18px;
}
.styled-input,
.styled-textarea {
    width: 100%;
    margin-bottom: 8px;
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box; 
}
.styled-form button
{
    color: #fff;
    background: #38b6ff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.styled-form button:hover
{
    background:#fff;
    color: #38b6ff;
}
.footer-part p
{
    color: #fff;
    text-align: center;
    font-size:20px;
}
.small-icon{
    width: 23px !important;
    height: 15px !important;
}
@media(max-width:1440px)
{
    .footer-img img{
        width: 120px;
    }
    
.footer-contact h4
{
    font-size: 18px;
}
.footer-contact p
{
    padding: px;
    font-size: 15px;
    
}
.footer-content h4
{
    font-size: 20px;
}
.footer-content p
{
  font-size: 15px;
  line-height: 25px;
 
}
.small-logo
{
    margin-left: 7px !important;
    width: 20px !important;
    height: 20px !important;
    
}
.small-icon{
    width: 23px !important;
    height: 15px !important;
}

}
@media(max-width:1200px)
{
    .footer-img img{
        width: 80px;
    }
    
.footer-contact h4
{
    font-size: 18px;
}
.footer-contact p
{
    padding: 4px;
    font-size: 12px;
}

.footer-content h4
{
    font-size: 20px;
}
.footer-content p
{
  font-size: 12px;
  line-height: 20px;
}
.footer-part p
{
   font-size:15px ;
}
.small-logo
{
    margin-left: 4px !important;
    width: 14px !important;
    height: 18px !important;
    
}
.small-icon{
    width: 23px !important;
    height: 15px !important;
}
}
@media(max-width:992px)
{
    .footer-img img{
        width: 70px;
    }
    
.footer-contact h4
{
    font-size: 18px;
}
.footer-contact p
{
    padding: 4px;
    font-size: 11px;
}

.footer-content h4
{
    font-size: 20px;
}
.footer-content p
{
  font-size: 11px;
  line-height: 18px;
}
.footer-part p
{
   font-size:15px ;
}
}
@media(max-width:768px)
{
    .footer-img img{
        width: 70px;
    }
    .footer-contact 
{
   width: 30%;
   
}
.footer-contact h4
{
    font-size: 16px;
}
.footer-contact p
{
    padding: 4px;
    font-size: 12px;
}

.footer-content h4
{
    font-size: 16px;
}
.footer-content p
{
  font-size: 12px;
  line-height: 18px;
}
.footer-part p
{
   font-size:15px ;
}
.small-icon{
    width: 20px !important;
    height: 15px !important;
}
.small-logo
{
    margin-left: 1px !important;
    width: 14px !important;
    height: 18px !important;
    
}
}
@media(max-width:425px) {
    .footer {
     display: block;
    }

    .footer-img img {
        width: 90px;
    }

    .footer-contact h4 {
        font-size: 15px;
    }

    .footer-contact p {
       
        font-size: 12px;
        width:max-content;
    }

    .footer-content h4 {
        font-size: 15px;
    }

    .footer-content p {
        font-size: 12px;
        line-height: 15px;
       
    }

    .footer-part p {
        font-size: 10px;
    }

    .small-icon {
        width: 12px !important;
        height: 10px !important;
    }
}
@media(max-width:320px) {
    .footer {
     display: block;
    }

    .footer-img img {
        width: 90px;
    }

    .footer-contact h4 {
        font-size: 15px;
    }

    .footer-contact p {
       
        font-size: 10px;
        width:max-content;
    }

    .footer-content h4 {
        font-size: 15px;
    }

    .footer-content p {
        font-size: 10px;
        line-height: 15px;
       
    }

    .footer-part p {
        font-size: 10px;
    }

    .small-icon {
        width: 12px !important;
        height: 10px !important;
    }
}
