.Leadership-Container {
  width: 100%;
  text-align: center;
}

.Leadership-col {
  display: flex;
  margin-top: 20px; /* Decreased margin-top */
  align-items: center;
  /* flex-wrap: wrap; */
  
  justify-content: space-evenly;
}

.Leadership-row {
  margin: 20px; /* Set margin to create space between images */
}

.Leadership-img img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  cursor: pointer; 
}

.content-para { 
  display: flex;
  justify-content: space-between;
}

.content-para p {
  padding-left: 50px; /* Decreased padding-left */
  font-size: 15px;
}

/* .social-media ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-right: 100px;
} */

p .content-para {
  font-size: 17px;
}

.social-media ul li {
  display: inline;
  align-items: center;
}

.social-media ul li:hover {
  color: #38b6ff;
}
.scrollable-content {
  max-height: 350px; 
  overflow-y: auto;
}

@media(max-width:1440px)
{
  .Leadership-Container
  {
    
  }
}
@media(max-width:992px)
{
  .Leadership-img img {
    width: 180px;
    height: 180px;
    border-radius: 8px;
    cursor: pointer; 
  }

}
@media(max-width:768px)
{
  .Leadership-img img {
    width: 150px;
    height: 130px;
    border-radius: 8px;
    cursor: pointer; 
  }
  .content-para
  {
    display: grid;
  }
  .scrollable-content{
    max-height: 300px; 
  }
 

  .content-img img{
      width: 120px !important;
      height: 120px !important;
      border-radius: 5px;
      
  }
  .social-media ul
  {
    display: inline;
    margin-top: 0px;
   
  }
  .content-para p
  {
    padding-left: 1px;
  }
}
@media(max-width:700px)
{
 .Leadership-col{
  display: grid;
 }
}