
section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

h2 {
    color: #3bb7ff;
}

.column {
    width: 25%;
    padding: 10px 10px 10px 20px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: linear-gradient(#ffffff 50%, #3bb7ff 50%);
    background-size: 100% 200%;
    background-position: 0 0;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.7s;
    width: 300px; 
    height: 320px; 
    margin: 10px; 
    padding: 15px 12px; 
    border: 1px solid #ccc; 
  
}

h3 {
    font-size: 17px;
    font-weight: 600;
    color: #1f194c;
    margin: 0.5em 0;
    text-transform: capitalize;
}

.content {
    font-size: 20px;
    color: #000;
}

p {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #575a7b;
}

.icon-wrapper {
    background-color: #3bb7ff;
    position: relative;
    margin: auto;
    font-size: 28px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.card:hover {
    background-position: 0 100%;
}

.card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #3bb7ff;
}

.card:hover h3 {
    color: #ffffff;
}

.card:hover p {
    color: #f0f0f0;
}
.slick-prev:before, .slick-next:before
{
    color: #3bb7ff;
}
@media(max-width:1550px)
{
    .card {
        width: 265px; 
        height: 310px; 
    }
    h3 {
        font-size: 16px;
        
    }
    p {
        font-size: 15px;
        line-height: 1.4;
        
    }
    .icon-wrapper
    {
        
        font-size: 23px;
    }
}
@media(max-width:1440px)
{
    .card {
        margin-left: 40px;
        width: 265px; 
        height: 310px; 
    }
    h3 {
        font-size: 16px;
        
    }
    p {
        font-size: 15px;
        line-height: 1.4;
        
    }
    .icon-wrapper
    {
        
        font-size: 23px;
    }
}
@media(max-width:1200px)
{
    .card
    {
        margin-left: 10px;
        width: 250px;
        height:280px ;
        padding: 12px 12px; 
    }
    h3 {
        font-size: 15px;
        
    }
    p {
        font-size: 13px;
        line-height: 1.5;
        
    }
    .icon-wrapper
    {
        
        font-size: 24px;
    }
}
@media(max-width:992px)
{
    .card
    {
       margin-left: 5px;   
        width: 210px;
        height:280px ;
        padding: 12px 12px; 
    }
    h3 {
        font-size: 14px;
        
    }
    p {
        font-size: 13px;
        line-height: 1.3;
        
    }
    .icon-wrapper
    {
        
        font-size: 22px;
    }
}
@media(max-width:900px)
{
    .card
    {
        margin-left: 14px;
        width: 240px;
        height:280px ;
        padding: 12px 12px; 
    }
    h3 {
        font-size: 15px;
        
    }
    p {
        font-size: 13px;
        line-height: 1.5;
        
    }
    .icon-wrapper
    {
        
        font-size: 24px;
    }
}
@media(max-width:700px)
{
    .card
    {
        margin-left: 5px;
        width: 240px;
        height:280px ;
        padding: 12px 12px; 
    }
    h3 {
        font-size: 15px;
        
    }
    p {
        font-size: 13px;
        line-height: 1.5;
        
    }
    .icon-wrapper
    {
        
        font-size: 24px;
    }
}
@media(max-width:650px)
{
    .card
    {
        margin-left: 1px;
        width: 210px;
        height:280px ;
        padding: 12px 12px; 
    }
    h3 {
        font-size: 14px;
        
    }
    p {
        font-size: 14px;
        line-height: 1.4;
        
    }
    .icon-wrapper
    {
        
        font-size: 24px;
    }
}
@media(max-width:576px)
{
    .card
    {
        margin-left: 100px;
        width: 250px;
        height:280px ;
        padding: 15px 20px; 
    }
    h3 {
        font-size: 14px;
        
    }
    p {
        font-size: 13px;
        line-height: 1.3;
        
    }
    .icon-wrapper
    {
        
        font-size: 25px;
    }
}
@media(max-width:425px)
{
    .card
    {
        margin-left: 40px;
        width: 250px;
        height:280px ;
        padding: 15px 20px; 
    }
    h3 {
        font-size: 14px;
        
    }
    p {
        font-size: 13px;
        line-height: 1.3;
        
    }
    .icon-wrapper
    {
        
        font-size: 25px;
    }
}
@media(max-width:375px)
{
    .card
    {
        margin-left: 20px;
        width: 230px;
        height:280px ;
        padding: 12px 12px; 
    }
    h3 {
        font-size: 14px;
        
    }
    p {
        font-size: 13px;
        line-height: 1.3;
        
    }
    .icon-wrapper
    {
        
        font-size: 22px;
    }
}
@media(max-width:320px)
{
    .card
    {
        margin-left: 8px;
        width: 210px;
        height:280px ;
        padding: 12px 12px; 
    }
    h3 {
        font-size: 14px;
        
    }
    p {
        font-size: 13px;
        line-height: 1.3;
        
    }
    .icon-wrapper
    {
        
        font-size: 22px;
    }
}


