
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Madimi+One&family=Vesper+Libre:wght@400;500;700;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Saira", sans-serif;
  
}
body
{
    background: #f5f5f5;
    
}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container
{
    padding-left: 8%;
    padding-right: 8%;
}
