.Banner-hero
{
    width: 100%;
    min-height: 45vh;
    background: linear-gradient(rgba(2, 5, 11, 0.5),rgba(2, 5, 11, 0.5)) ,url('../../assets/Images/slider-3.png');
    background-size:cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Banner-hero-text
{
    text-align: center;
    max-width: 1600px;
}

.Banner-hero-text h1
{
    font-size: 45px;
    font-weight: 650;
    line-height: normal;
}
@media (max-width:1440px)
{
    .Banner-hero-text h1{
        margin-top: 22px;
        font-size: 36px;
    }
}
@media (max-width:1024px)
{
    .Banner-hero-text h1{
        margin-top: 20px;
        font-size: 40px;
    }
}
@media (max-width:768px)
{
    .Banner-hero-text h1{
        margin-top: 20px;
        font-size: 36px;
    }
}
@media (max-width:576px)
{
    .Banner-hero-text h1{
        margin-top: 20px;
        font-size: 32px;
    }
}
